body {
    background-color: salmon;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h1 {
    text-align: center;
}
.about{
    display:flex;
    flex-wrap:wrap;
    margin-right: 100px;
    margin-left: 100px;
    justify-content: center;
    }
.about p {
    width:100%;
    text-align: center;
    margin: auto;
    line-height: 125%;
    }
.prolog {
        float: left;
        width: 20%;
        margin: 10px;
        padding:5%;
        background:peachpuff;
        border-radius: 5%;
        text-align: center;
    
    }
.risc-V {
        float:right;
        width: 20%;
        margin: 10px;
        padding:5%;
        background:peachpuff;
        border-radius: 5%;
        text-align: center;
    
    }
.Haskell {
        float:inline-end;
        width: 20%;
        margin: 10px;
        padding:5%;
        background:peachpuff;
        border-radius: 5%;
        text-align: center;
    
    }