body {
    background-color: salmon;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h1 {
    text-align: center;
}
.about{
    display:flex;
    flex-wrap:wrap;
    margin-right: 100px;
    margin-left: 100px;
    justify-content: center;
    }
.about p {
    width:100%;
    text-align: center;
    margin: auto;
    line-height: 125%;
    }
.project {
        float: inline-end;
        width: 30%;
        margin: 10px;
        padding: 20px 10px;
        background:peachpuff;
        border-radius: 5%;
        text-align: center;
    
    }
.project img {
    width: 70%;
    height: 50;
    margin: 10px;
    border: 2px solid rgb(126, 14, 201);
    display: block;
    margin: auto;

}
